* {
    margin: 0;
    padding: 0;
}

.article {
    width: 300px;
    height: 300px;
    border: 1px solid blue;
    float: left;
    margin: 30px;
}
    
    .article h1 {
        height: 30px;
        background-color: orange;
        color: red;
        text-align: center;
        line-height: 30px;
        vertical-align: center;
        font-size: 15px;
    }

    .article img {
        display: block;
        width: 100%;
    }